<!-- Jerick Paraso | 301268477 | 09-27-2023 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>
  <header><%- include('../partials/header'); %></header>

  <main class="container mt-4">
    <!-- About Me -->
    <div id="about" class="d-flex align-items-center">
      <img src="/images/logo-me.JPG" alt="profilepicture" class="img-fluid rounded-circle" width="200" height="200" />
      <div class="ms-3">
        <p class="fs-3 text-primary">About Me</p>
        <p class="fs-5">
        <%= content.selfIntroduction %>
        </p>
        <a class="btn btn-primary"
          href="<%=content.resumeUrl %>"
          >Resume</a
        >
      </div>
    </div>
    <hr />
    <!-- Education -->
    <div id="education" class="text-center">
      <p class="fs-3 text-primary">Education</p>
      <% content.education.forEach((item) => { %>
        <div class="education-item">
          <img src="<%= item.logo %>" alt="College Logo" class="img-fluid" />
          <p class="fs-5"><%= item.name %> - <span class="text-muted"><%= item.Location %></span></p>
          <p class="fs-5"><%= item.degree %></p>
          <p class="fs-5"><%= item.date %></p>
        </div>
      <% }); %>
    </div>
    <hr />
    <!-- Work Experience -->
    <div id="workExperiences" class="text-center">
    <p class="fs-3 text-primary mt-4">Work Experience</p>

  <% content.workExperiences.forEach((item) => { %>
    <div class="work-experience-item">
      <img src="<%= item.logo %>" alt="Company Logo" class="img-fluid" />
      <p class="fs-5"><%= item.company %> - <span class="text-muted"><%= item.location %></span></p>
      <p class="fs-5"><%= item.position %></p>
      <p class="fs-5"><%= item.date %></p>
    </div>
  <% }); %>
  </div>
  </main>

  <footer><%- include('../partials/footer'); %></footer>
</body>
</html>
